body {
    background-color: #FFBD1B;
}

.list .header {
    height: 1.5em;
    padding: 5px;
    background-color:  #EDEDE7;
    margin: 2px;
}

.list .header:before {
    content: "v ";
}

.collapsed .header:before {
    content: "> ";
}

.collapsed ul {
    display: none;
}

.list ul li {
    padding: 5px;
    background-color: green;
}

.hidden {
    display: none;
}

#contacts ul .online:before {
    content: "[+]";
}

#contacts ul li:before {
    content: "[-]";
}

#contactlist {
    float: left;
    width: 25%;
    height: 75vh;
    background-color: #544D4A;
    overflow: auto;
    padding: 10px;
}

#chat {
    float: right;
    width: 70%;
    height: 75vh;
    background-color: black;
    padding: 10px;
}

#messagelog {
    float: left;
    width: 90%;
    height: 90%;
    background-color: #9B7159;
    overflow: auto;
}

#participants {
    float: right;
    width: 10%;
    height: 90%;
    background-color: #EDEDE7;
    overflow: auto;
}

#message_input {
    width: 90%;
    height: 10%;
    background-color: white;
    float: left;
    word-wrap: break-word;
    overflow-y: auto;
}

#send_button {
	background-color:#4F4340;
    text-align: center;
    width: 10%;
    height: 10%;
    float: right;
	cursor:pointer;
	cursor:hand;
}